#root{
  max-width:1200px;
  margin: 0 auto;
}

.App {
  text-align: center;
  background-color: #fcfcfc;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-main-field {
  background-color: #f5f5f5;
  /*height: 100vh;*/
  width: 100%;
  display:inline-block;
}
.App-search-box{
  height: 2em;
  width:100%;
  font-size: 1.7em;

}

.App-search-box input{
  height: 2em;
  width:80%;
  margin-left: 1%;
  border-radius: 5px;
}

.App-fields {
  width:40%;
  /*height: 100vh;*/
  /*overflow: hidden;*/
  padding: 1% 2%;
  display: inherit;
  background-color: #eee;
  vertical-align: top;
  /*border: solid black 1px;*/
}

ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

ul li{
  margin:2% 0%;
  border: solid black 1px;
  border-radius: 5px;
  padding: 1% 0;
  box-shadow: 1px 1px;
}

ul li.focused {
  font-size: 120%;
  margin: 3% 0%;
  box-shadow: 5px 5px;
}

ul div.focused {
  font-size: 107%;
  margin: 3% 0%;
  box-shadow: 5px 5px;
}


ul li:hover {
  font-size: 107%;
  margin:3% 0%;
  padding: 1% 0;
  box-shadow: 5px 5px #999;
  transition: margin 0.5s;
  transition: box-shadow 0.3s;

}

/*Fonts for text of places*/

.place-Header{
  padding: 1%;
  position: relative;
  border-bottom: solid 1px #aaa;
}

.place-Name-Container{
  padding: 1%;
  width: 80%;
  display: inline-block;
}

.place-Name-Container h2{
  margin: 0;
}

.place-Name{
  font-family: "Petit Formal Script", cursive;
}

.place-Rate-Container{
  padding: 1%;
  width: 25%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  vertical-align: middle;
}

.place-Rate{
  font-weight: bold;
}

.place-Details-Container{
  padding: 1%;
  position: relative;
}
.place-Menu-Container{
  position: relative;
  display: inline-block;
  margin: 1%;
}

.place-Menu{
  position: absolute;
  font-weight: bold;
  left: 30%;
  color: #fff;
}

.place-Time-Container{
  display: inline-block;
  padding: 1%;
}

.place-Time-Container p{
  margin: 0;
  font-weight: bold;
}

.place-Address-Container{
  width: 25%;
  padding: 2%;
  display: inline-block;
  position: absolute;
  right: 0;
}

.place-Address{
  font-weight: bold;
}

/*.place-Address{
  font-family: "Times New Roman";
  margin:1%;
  font-size: 1em;
}*/


#map {
  width:100%;
  height: 70vh;
}

.marker-InfoW-Container{

}

.marker-place-Name{
  font-family: 'Petit Formal Script',cursive;
}

.marker-address{
  font-size: 0.75em;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Responsivness-------------------------------------------------*/

@media screen and (min-width:900px) and (max-width:1024px) {
  .App-search-box{
    height: 1.5em;
    font-size: 1.5em;
  }
  .place-Name-Container h2{
    font-size: 1em;
  }
  .place-Rate-container{
    font-size: 0.7em;
  }
  .place-Rate{
    font-size: 0.7em;
  }

  .place-Time-Container{
    font-size: 0.7em;
  }
  .place-Time-Container p{
    font-size: 0.9em;
  }
  .place-Address-Container{
    font-size: 0.79em;
  }
  .place-Address-Container p{
    font-size: 0.79em;
  }
}

@media screen and (min-width:700px) and (max-width:899px) {

  .App-search-box{
    font-size: 1em;
  }

  .App-search-box input{
    height: 1em;
  }

  .place-Name-Container h2{
    font-size: 0.7em;
  }

  .place-Rate-container{
    font-size: 0.5em;
  }

  .place-Rate{
    font-size: 0.5em;
  }

  .place-Time-Container{
    font-size: 0.7em;
  }
  .place-Time-Container p{
    font-size: 0.9em;
  }
  .place-Address-Container{
    font-size: 0.79em;
  }
  .place-Address-Container p{
    font-size: 0.79em;
  }
}
